#name {
  font-size: 50px;
  font-family: "Laila", serif;
  color: lightgrey;
}

#intro {
  background: linear-gradient(45deg,#FFCCCC,#CCFFFF);
  text-align: center;
  color: lightgrey;
  padding: 50px;
}

#main {
  background: url("https://i.imgur.com/MJAkxbh.png");
  padding: 20px;
}
